<div class="container">
  <% if @posts.any? %>
  <ul class="posts">
    <% @posts.each do |post| %>
    <li>
      <div class="user">
        <p><%= post.user.name %></p>
      </div>
      <div class="info">
        <div class="title">
          <%= link_to show_path(post.id) do %>
            <p><%= post.title %></p>
          <% end %>
        </div>
        <!--<div class="comment">-->
        <!--  <% post.post_comments.each do |post_comment| %>-->
        <!--  <li>-->
        <!--    <span class="user_name"><%= post_comment.user.name %></span>-->
        <!--    <span class="caption"><%= post_comment.comment %></span>-->
        <!--  </li>-->
        <!--  <% end %>-->
        <!--</div>-->
        <!--<div class="text_wrap">-->
        <!--  <%= form_for post.post_comments.new, url: comment_post_path(post) do |f| %>-->
        <!--    <div class="field">-->
        <!--      <%= f.text_field :comment, id: "post-comment-#{post.id}", placeholder: "コメントを入力" %>-->
        <!--      <%= f.submit "送信" %>-->
        <!--    </div>-->
        <!--  <% end %>-->
        <!--</div>-->
      </div>
    </li>
    <% end %>
  </ul>
  <% else %>
  <p class="empty">まだ何も書かれていません。</p>
  <% end %>
</div>